body {
    font-family: Roboto Mono, monospace;
    font-weight: bold;

    background-color: #000000;
}



.resources-div {
    width: 50vw;
    
    margin: -1vw auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    user-select: none;
}

.years-label {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: 1px 1px 3px white;

    font-size: 1vw;
}

.dilation-label {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: 1px 1px 3px white;

    position: absolute;
    top: 2.25vw;

    font-size: 0.75vw;
}



.save-btn, .clear-save-btn, .copy-save-btn, .load-save-btn, .github-page-btn {
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 0.6vw;
    text-align: center;
    text-shadow: 0.5px 0.5px 2px white;

    border: 2px solid rgb(78, 78, 78);
    border-radius: 3px;

    cursor: pointer;
    user-select: none;
}

.save-btn {
    position: absolute;
    right: 1vw;
    top: 1vw;

    height: 1.75vw;
    width: 8vw;
}

.clear-save-btn {
    position: absolute;
    right: 10vw;
    top: 3.5vw;

    height: 1.75vw;
    width: 8vw;
}

.copy-save-btn {
    position: absolute;
    right: 1vw;
    top: 3.5vw;

    height: 1.75vw;
    width: 8vw;
}

.load-save-btn {
    position: absolute;
    right: 10vw;
    top: 1vw;

    height: 1.75vw;
    width: 12vw;
}

.github-page-btn {
    position: absolute;
    right: 1vw;
    top: 6vw;

    height: 1.75vw;
    width: 10vw;
}



.overline { /*The line above the main container and stuff directly related to it, such as the max all button*/
    width: 98vw;
    height: 0%;
    
    position: absolute;
    bottom: 33vw;
    left: 1vw;

    border: 1px solid white;
    border-radius: 1px;
}



.main-container { /*Contains the dilators and all the related buttons*/
    background-color: rgb(20, 20, 20);
    color: black;

    border: 4px solid rgb(31, 31, 31);
    border-radius: 3px;

    margin: auto -0.2vw;

    display: flex;
    align-items: center;

    position: absolute;
    bottom: 5px;

    width: 99vw;
    height: 31.5vw;

}

.buy1-buttons, .buymax-buttons, .compress-buttons { /*Contains the buttons for buying singles, max, and compression*/
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 30vw;
    width: 10vw;

    border: 2px solid white;
    border-radius: 3px;

    z-index: 1;
}

.buy1-buttons {
    position: absolute;
    right: 10.5vw;

    border-right: 0px;
}

.buymax-buttons {
    position: absolute;
    right: 0.6vw;

    border-left: 0px;
}

.compress-buttons {
    position: absolute;
    left: 0.6vw;

    border-right: 0px;
}

.buy1-button, .buymax-button, .compress-button { /*These are the buttons for buying singles and buying max*/
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 0.445vw;
    text-align: center;
    padding: 0.61vw;
    text-shadow: 0.5px 0.5px 2px white;

    height: 0.525vw;

    border: 2px solid rgb(78, 78, 78);
    border-radius: 3px;

    margin: 0.42vw;

    cursor: pointer;
    user-select: none;
}



.max-all, .compress-all {
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    bottom: 34vw;

    font-size: 0.6vw;
    text-align: center;
    text-shadow: 0.5px 0.5px 2px white;

    height: 1.75vw;
    width: 12vw;

    border: 2px solid rgb(78, 78, 78);
    border-radius: 3px;

    cursor: pointer;
    user-select: none;
}

.max-all {
    right: 1vw;
}

.compress-all {
    left: 1vw;
}



.disabled {
    background-color: rgb(53, 0, 0);
    color: white;

    cursor: default;

    border: 2px solid rgb(117, 0, 0);

    transition: all 0.1s ease-out;
}

.enabledGreen {
    background-color: rgb(0, 40, 0);
    color: white;
    
    cursor: pointer;

    border: 2px solid rgb(0, 100, 0);

    transition: all 0.1s ease-out;
}

.enabledGray {
    background-color: rgb(31, 31, 31);
    color: white;
    
    cursor: pointer;

    border: 2px solid rgb(78, 78, 78);

    transition: all 0.1s ease-out;
}

.hover:hover {
    filter: brightness(300%);
    color: black;
    text-shadow: 0.5px 0.5px 2px black;

    transition: all 0.1s ease-out;
}



.dilator-costs, .dilator-amounts {
    background-color: rgba(0, 0, 0, 0);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 30vw;

    z-index: 0;
}

.dilator-costs {
    position: absolute;
    right: 23.25vw;
    width: 15vw;
}

.dilator-amounts {
    position: absolute;
    left: 27.75vw;

    width: 29.75vw;
}

.dilator-cost-label, .dilator-amount-label {
    background-color: rgba(0, 0, 0, 0);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 0.6vw;
    text-align: left;
    padding: 0.61vw;
    text-shadow: 0.5px 0.5px 2px white;

    height: 0.6vw;

    margin: 0.485vw;

    user-select: none;
}



.dilators { /*Contains the main labels for dilators*/
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    left: 10.5vw;

    height: 30vw;
    width: 16.9vw;;

    border: 2px solid white;
    border-radius: 3px;

    border-left: 0px;

    z-index: 0;
}

.dilator-label { /*Shows the dilator's number and multiplier*/
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 0.6vw;
    text-align: left;
    padding: 0.61vw;
    text-shadow: 0.5px 0.5px 2px white;

    height: 0.525vw;

    border: 2px solid rgb(78, 78, 78);
    border-radius: 3px;

    margin: 0.42vw;

    user-select: none;
}